{% extends 'emails/base.html' %}
{% block head %}{% set subject = 'Reset your password' %}{% endblock %}
{% block content %}
<h1>Reset your password</h1>
<p>We received a request to reset your password. Click the button below to continue.</p>
<p>
    <a href="{{ reset_url }}" class="button" target="_blank" rel="noopener">Reset Password</a>
    <br>
    <span class="muted">If the button doesn't work, paste this link into your browser:</span><br>
    <a href="{{ reset_url }}" style="color:#2563eb">{{ reset_url }}</a>
    </p>
{% endblock %}
{% block text_fallback %}
Reset your password\n
Open this link in your browser:\n
{{ reset_url }}
{% endblock %}


